Repository DirectX14/SmashUp-FrontEnd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

refactor: Изменил данные в ридмишке
  README.md
Due: none

feat: Добавлен роутер и пробные страницы refactor: удалил ненужную зависимость
  package-lock.json
  package.json
  src/App.vue
  src/components/MainPage.vue
  src/components/PlayList.vue
  src/main.js
  src/router.js
  yarn.lock
Due: eslint --fix, stylelint --fix

feat: Прихуярил scss и typescript
  package-lock.json
  package.json
Due: none

feat: Припилил линку на мейнпейдж с плейлиста
  src/components/PlayList.vue
Due: none

feat: Запилил компонент Карточку
  src/assets/images/Картинка.png
  src/assets/scss/index.scss
  src/assets/scss/normalize.scss
  src/components/MainPage.vue
  src/components/VCard.vue
  src/pages/MainPage.vue
  src/pages/PlayList.vue
  src/router.js
  src/style.css
Due: eslint --fix, stylelint --fix

feat: Добавлен шрифт refactor: Переделан компонент карточки
  src/assets/fonts.css
  src/assets/fonts/Inter-VariableFont_slnt,wght.ttf
  src/assets/scss/index.scss
  src/components/VCard.vue
  src/pages/MainPage.vue
  src/style.css
Due: stylelint --fix

feat: Снес typescript
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: добавлены константы пробок
  src/utils/constants/props.js
Due: none

feat: Замена под пробку
  src/components/VCard.vue
Due: none

feat: Создал переменные цветов и отсутпов + сделал роут не через # refactor: привел стили в порядок
  src/assets/fonts.scss
  src/assets/scss/index.scss
  src/assets/scss/variables/_border-radius.scss
  src/assets/scss/variables/_colors.scss
  src/assets/scss/variables/_spaces.scss
  src/assets/scss/variables/index.scss
  src/assets/scss/variables/scss/_colors.scss
  src/assets/scss/variables/scss/_grid.scss
  src/assets/scss/variables/scss/index.scss
  src/components/VCard.vue
  src/main.js
  src/pages/PlayList.vue
  src/router.js
  src/style.css
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: ./src/*.{js,vue}
  stylelint --fix: any of: ./src/*.{vue,scss,css}
